body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
  
.containerr{
    width: 100% !important;
}
  
.containerr .left{
    width: 100%;
    background-image: url('pict/background.jpg');
    background-size: cover;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}
  
.containerr .right{
    width: 100% !important;
    height: auto;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
}
  
  @media (min-width:768px) {
    .containerr{
      display: flex;
    }
  
    .containerr .left{
      height: 100vh !important;
      width: 50%;
      display: flex;
      align-items: center;
    }
  
    .containerr .right{
      width: 50% !important;
      overflow-y: scroll;
      height: 100vh;
    }  
  }

p {
    font-size: 18px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
}

h5 {
    color: #444;
}

.accordion-body {
    font-size: 15px;
    text-align: left;
}

.bold-text {
    font-weight: bold;
    font-size: 23px;
}

#demo {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.card-body {
    background-color: #a2b7ce;
    height: auto;
    position: relative;
}

.card-text {
    font-size: 17px;
}

.element {
    background-image: linear-gradient(
        to right,
        rgb(82, 106, 185),
        white 35%,
        white 65%,
        rgb(82, 106, 185)
    );
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: 0 center;
}

.volume {
    background-color: #5f7b99;
    position: fixed;
    bottom: 100px;
    right: 30px;
    padding: 15px;
}

.volume {
    color: white;
}

div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

div.scrollmenu>a {
    display: block;
    color: #5f7b99;
    text-align: center;
    border-left: 1px solid #5f7b99;
    border-right: 1px solid #5f7b99;
    padding: 14px;
    width: 110px;
    text-decoration: none;
    margin: 0;
}

div.scrollmenu a:hover {
    background-color: #5f7b99;
    color: white;
}

@media only screen and (max-width: 600px) {
    div.scrollmenu {
        overflow-x: scroll;
        display: flex;
        justify-content: left;  
        /* width: 1000px; */

    }
}

@media all and (max-width: 480px) { 
    .foto{
        width: 350px;
    }
    div.scrollmenu>a{
        /* display: block; */
        width: 110px;
    }
}